:root {
	--clr-neu-100: hsl(0 0% 100%);
	--clr-neu-0: hsl(0 0% 100%);
	--clr-neu-200: hsl(225, 100%, 98%);
	--clr-neu-100: hsl(225, 100%, 98%);
	--clr-neu-400: hsla(223, 23%, 55%, 1);
	--clr-neu-400: hsla(224, 23%, 55%, 1);
	--clr-neu-800: hsl(223, 47%, 23%);
	--clr-neu-900: hsl(223, 47%, 23%);
	/* Primary */
	--clr-pri-200: hsl(225, 100%, 94%);
	--clr-pri-100: hsl(225, 100%, 94%);
	--clr-pri-300: hsla(245, 83%, 68%, 1);
	--clr-pri-300: hsla(245, 83%, 68%, 1);
	--clr-pri-400: hsl(245, 75%, 53%);
	--clr-pri-400: hsl(245, 75%, 52%);

	/* Neutral  */
	--clr-neu-0: hsl(0 0% 100%);
	--clr-neu-100: hsl(225, 100%, 98%);
	--clr-neu-400: hsla(224, 23%, 55%, 1);
	--clr-neu-900: hsl(223, 47%, 23%);
	/* Primary */
	--clr-pri-100: hsl(225, 100%, 94%);
	--clr-pri-300: hsla(245, 83%, 68%, 1);
	--clr-pri-400: hsl(245, 75%, 52%);
}
